/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .header img {
    height: 50px;
    width: 100px;
}

img {
  width: 50px;
}

.header {
    width: 50px;
}

h1 {
  color: aqua;
  background-color: aquamarine;
} */

/* .kontakta-oss {
  background-color: aqua;
} */

/* this is the old version */