*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* header */
.navbar{
    background: rgb(67, 9, 9);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 15px;
    padding-left: 15px;
    height: 100px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  
 li{
    list-style: none;
    display: inline-block;
 }

 li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}
li a:hover{
    color: #171717;
}

.logo {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-image: url(/images/newlogo.png);
    background-color: beige;
    margin-top: 10px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid black;
}



/* hero part*/

.container{
    padding: 0 0%;   
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.background-clip{
    position:absolute;
    z-index: -1;
    right: 0;
    bottom:0 ;
    height: 100%;
}
.content{
    text-align: center;
}

.content h1{
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    margin-top: 200px;

}
.content a{
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 10px,20px;
    border-radius: 40px;

}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background-clip{
    width: auto;
    height:100%;
    }
}
button{
    background-color:#531818;
    margin: 20px;
    height:50px;
    width:200px;
    color:white;
    border-radius: 40%;
    border-color: 2px solid black;
}

button:hover{
    color: black;
    border: 1px solid black;
    transition: ease-in-out 0.5s;
}

/*third title section*/
.titlecontainer{
    height: 600px;
    width: 1000px;
}
.titlediv{
    height: 500x;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #874619;
    display: inline-block;
    justify-content: center;
    margin: 20% 30% 20% 30%;
    padding: 20px 20px;
    
}
 .titlediv h1{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
 }

 .titlediv h4 ,h5{
    color:black;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    text-align: center;
    margin:10px;
 }
 .titlediv p {
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:black;
 }
 .titlediv button{
    margin-left:180px;
 }


 /*fourth image section*/
 .imagecontainer{
    background-repeat: no-repeat;
    font-style: italic;
    background-image: url(../images/food.jpg);
    background-size: cover;
    min-height: 800px;
    width:100%;
    color:white;
    font-size:20px;
    padding: 10px;
    text-align: center;
 }
.alignment{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: auto;
}

 /* footer starts from here and all the rest down */

footer {
    height: 438px;
    width: 100%;
    background-color: rgb(67, 9, 9);
    position: relative;
}
.footer-content {
    min-height: 276px;
    width: 100%;
    padding-top: 54px;
    padding-bottom: 54px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-text {
    height: 207px;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 
.address-footer {
    text-align: left;
}
.footer-contact, .address-footer, .footer-mail-and-phone {
    margin: 5px;
    color: white;
}
.map-end-page {
    max-width: 700px;
    width: 100%;
    height: 222px;
}

.end-of-page {
    height: 54px;
    width: 100%;
    background-color: #171717;
    position: absolute;
    bottom: 0; /*if i make screen smaller it isnt at bottom?*/
    display: flex;
    justify-content: center;
}
.footer-p-container {
    max-width: 1044px;
    width: 100%;
    height: 24px;
}
.footer-p {
    color: #666;
}